<div id="nav-bar-wrap">
  <table id="nav-bar">
    <tr>
      <td class="nav-bar-item"
        [routerLink]="['/home']"
        [routerLinkActive]="['nav-bar-active']">Home</td>
      <td class="nav-bar-item"
        [routerLink]="['/articles']"
        [routerLinkActive]="['nav-bar-active']">Articles</td>
      <td id='logo-cell'>
        <img id='fos-logo' src='/assets/images/flavors-of-sound-cone-colors.gif' />
      </td>
      <td class="nav-bar-item"
        [routerLink]="['/products']"
        [routerLinkActive]="['nav-bar-active']">Products</td>
      <td class="nav-bar-item"
        [routerLink]="['/about']"
        [routerLinkActive]="['nav-bar-active']">About</td>
    </tr>
  </table>
</div>
